@using Tours_1._0.Models
@model dynamic

@{
    ViewBag.Title = "Отмена";
    Order order = Model.Order;
    Tour tour = Model.Tour;
    Hostel hostel = Model.Hostel;
    string status = Model.Status;
    string username = Model.UserName;
}

@if (this.User.IsInRole("admin") || this.User.IsInRole("manager"))
{
    <h2>Удаление</h2>
    <h3>Вы уверены, что хотите удалить этот заказ?</h3>
}
else if (this.User.IsInRole("user"))
{
    <h2>Отмена</h2>
    <h3>Вы уверены, что хотите отменить заказ?</h3>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        @if (this.User.IsInRole("admin") || this.User.IsInRole("manager"))
        {
            <dt>
                @Html.DisplayName("Клиент")
            </dt>

            <dd>
                @Html.DisplayFor(model => username)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => tour.TourName)
        </dt>

        <dd>
            @Html.DisplayFor(model => tour.TourName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => tour.TourSights)
        </dt>

        <dd>
            @Html.DisplayFor(model => tour.TourSights)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => hostel.HostelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => hostel.HostelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => hostel.HostelMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => hostel.HostelMark)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.QuantityMembers)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QuantityMembers)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.QuantityDays)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QuantityDays)
            </dd>*@
        <dt>
            @Html.DisplayNameFor(model => tour.DateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => tour.DateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => tour.DateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => tour.DateEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => order.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => order.Price)
        </dd>

        <dt>
            @Html.DisplayName("Статус заказа")
        </dt>

        <dd>
            @Html.DisplayFor(model => status)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">

            @if (this.User.IsInRole("admin") || this.User.IsInRole("manager"))
            {
                @Html.ActionLink("Вернуться к заказам", "Index", null, new { @class = "btn btn-default" })
                <input type="submit" value="Удалить заказ" class="btn btn-default" />
            }
            else if (this.User.IsInRole("user"))
            {
                @Html.ActionLink("Вернуться к заказам", "IndexUser", null, new { @class = "btn btn-default" })
                <input type="submit" value="Отменить заказ" class="btn btn-default" />
            }

        </div>
    }
</div>
