@model IEnumerable<Tours_1._0.Models.Tour>

@{
    ViewBag.Title = "Актуальные туры";
}

<div class="row">
    <div class="col-md-6 col-sm-6">
        <h2>Актуальные туры</h2>
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="input-group" style="display: flex;">
        @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Название тура..." })
        <span class="input-group-btn">
            <input type="submit" value="Поиск" class="btn btn-default" />
        </span>
    </div>
}
<h6></h6>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TourName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusHot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TourName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusHot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Подробнее", "Details", new { id = item.TourID })
            </td>
            <td>
                @Html.ActionLink("Забронировать", "UserOrder", new { id = item.TourID }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>
